@text-primary-color: #f4f4f4;
@text-secondary-color: #5f5f5f;
@text-tertiary-color: #1f1f1f;

@border-color: #3f3f3f;
@bg-primary-color: #1f1f1f;
@bg-secondary-color: #3f3f3f;

@import '~github-markdown-css/github-markdown-dark.css';

.markdown-body {
    background-color: transparent;
    * {
        color: @text-secondary-color;
    }
}

@keyframes border-glow {
  0% {
      border-color: #fbfe00;
  }
  100% {
      border-color: #aefe00;
  }
}

@keyframes background-glow {
  0% {
      background-color: #fbfe00;
  }
  100% {
      background-color: #aefe00;
  }
}

.text-linear-gradient(@deg, @from, @to){
  background: linear-gradient(@deg, @from, @to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.multi-line-ellipsis(@lines: 2){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
} 

.single-line-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}