@text-primary-color: #ffffffe6;
@text-secondary-color: #ffffffa6;
@text-tertiary-color: #ffffff73;

@color-yellow: #fbfe00;
@color-green: #aefe00;

@border-color: #323232;
@bg-primary-color: #222222;
@bg-secondary-color: #323232;

@max-radius: 999px;

@import '~github-markdown-css/github-markdown-dark.css';

.markdown-body {
    background-color: transparent;
    * {
        color: @text-secondary-color;
        font-weight: normal;
    }
}

@keyframes border-color {
  from {
      border-color: @color-yellow;
  }
  to {
      border-color: @color-green;
  }
}

@keyframes background-color {
  from {
      background-color: @color-yellow;
  }
  to {
      background-color: @color-green;
  }
}

.multi-line-ellipsis(@lines: 2){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lines;
  line-clamp: @lines;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
} 


