::-webkit-scrollbar {
  // width: 4px;
  width: 0px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #808080;
}

@font-face {
  font-family: 'zzzFont';
  src: url('@/assets/fonts/zzzFont.TTF') format('trueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    color: @text-primary-color;
    font-family: 'zzzFont';

}

body {
    width: 100vw;
    height: 100vh;
    background: #000;
}


