
@font-face {
  font-family: 'zzzFont';
  src: url('@/assets/fonts/zzzFont.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
    box-sizing: border-box;
    color: @text-primary-color;
    font-family: 'zzzFont';
    scrollbar-width: thin;
    scrollbar-color: @border-color transparent;
}


body {
    width: 100vw;
    height: 100vh;
    background: @bg-primary-color;
    overflow: hidden;
}


