
@font-face {
  font-family: 'zzz-default';
  src: url('@/assets/fonts/zzz-default.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'zzz-default', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: @border-color transparent;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.125rem;
  color: @text-primary-color;
}
